
.user-input{
  text-align: center;
  height: 300px;
}

.remove-button {
  text-align: center;
  margin: auto;
  position: relative;
  padding: 20px;

}

.remove-item-btn{
  text-align: center;
  color:red;
  position: relative;
  margin-left: 10px;
}

.list-items{
  text-align: center;
  position: relative;
  padding: 20px;
}

#btn{
  text-align: center;
  color:red;
  font-size: 15px;
  margin-left: 35px;

}

#submit-button{
  text-align: center;
  color: #59a8f2;
  position: relative;
  margin-left: 15px;
}

#user-input-value{
  text-align: center;
  margin-left: 80px;
  display: inline-block;
}