.user-input{
  font-family: 'Open Sans', sans-serif;
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;
  z-index: 0;
  text-align:center;/* Add This*/
}

.remove-button{
  position: relative;
  margin-top: 20px;
}

#btn{
  border-radius: 50px;
  font-size: 15px;
  color:#e20d2a;
}


#submit-button{
border-radius: 50px;
}

.remove-item-btn{
  margin-left: 10px;
}